name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint-readme:
    name: Lint readme file
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Lint readme file
        uses: avto-dev/markdown-lint@v1
        with:
          #rules: '/lint/rules/changelog.js'
          #config: '/lint/config/changelog.yml'
          args: '*.md'
          ignore: 'CHANGELOG.md'

  lint-dockerfile:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  container-build-test:
    name: Test container build
    needs:
      - lint-readme
      - lint-dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build image (test)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: build-tst
          labels: build-tst
